
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
<rule name="rule 1D">
    <match url="^([a-zA-Z_-]*)\.(html|json|xml)?$"  ignoreCase="true" />
    <action type="Rewrite" url="/index.php?method={R:1}&amp;format={R:2}"  appendQueryString="true" />
</rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
