body{
    max-width:960px;
    magin-left: 180px;
    margin-left: 180px;
}


body{
    background-color: aliceblue;
}


h1{
    font-family: "Comic Sans MS";
    font-weight: 300;
}

main {
    background-color: #1b6d85;
}