

<configuration>
<system.webserver>
<rewrite>
<rules>
<rule name="rule 1w" stopProcessing="true">
    <match url="api/v1/(.*)$"  ignoreCase="true" />
    <action type="Rewrite" url="/api/v1/api.php?request={R:1}"  appendQueryString="true" />
</rule>
</rules>
</rewrite>
</system.webserver>
</configuration>